.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  background-color: green;
}

.ant-layout-header {
  background-image: url("header.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  height: 180px;
}

.footer {
  background-image: url("footer.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  height: 65px;
}

.header_title {
  padding-top: 40px;
  font-weight: bold;
  color: white;
  font-size: 4.5em;
}

.header_title_py {
  margin-top: -14px;
  font-weight:bold;
  color: white;
  font-size: 2.5em;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}

.div-frame {
  width: 100%;
  height: 680px;
  background-color: white;
}

.map {
  width: 100%;
  height: 680px;
}

.nl_time {
  color: white;
  font-size: 2em;
  height: 50px;
  padding-left: 20px;
}

.current_time {
  padding-left: 5px;
  font-size: 4em;
  background-color: white;
  display:-moz-inline-box;
  display:inline-block;
  width: 66px;
  border-radius:15px;
}

.clock {
  margin-top: 3px;
  padding-left: 20px;
}

.current_date {
  color: white;
  font-size: 2em;
  height: 30px;
  margin-top: -25px;
}

.time_charactor {
  font-size: 5em;
  color: white;
  display:-moz-inline-box;
  display:inline-block;
  width: 20px;
}

.img-icon {
  width: 80px;
  padding-top: 50px;
  margin-left: -20px;
}

.yj-info {
  background-color: #f3b782;
  height: 56px;
}

.yj-words {
  font-size: 38px;
  font-weight: bold;
  color: lavender;
  text-shadow:5px 2px 6px #000;
}

.title_tip {
  background-image: url('tip.png');
  background-repeat:no-repeat;
  background-size:500px 100%;
  width: 90%;
  height: 60px;
  margin: 15px;
  border-radius:20px;
  font-size: 40px;
  color: white;
  font-weight: 50px;
  text-shadow:5px 2px 6px #000;
  padding-left: 20px;
}

.title_tip_font {
  margin-left: 10px;
}


.station-info {
  border-radius:15px;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow:0 0 10px #000;
  border: 1px solid silver;
  width: 500px;
  height: 263px;
  background-color: #02C874;
}

.station-info-img {
  border-radius:20px;
  width: 98%;
  margin: 4px;
  height: 262px;
}

.station-title,.station-tem,.station-rain-wind {
  height: 90px;
}

.station-name {
  color:white;
  margin-top: 25px;
  margin-left: 30px;
}

.station-time {
  color:white;
  margin-top: 30px;
  font-size: 1.7em;
}

.tem_h {
  height: 70px;
  padding-left:15px;
  padding-top:10px;
}

.tem-word {
  margin-top: 28px;
  margin-left: 10px;
  font-size: 2em;
  color: white;
}

.rain-word {
  margin-top: 28px;
  font-size: 2em;
  color: white;
}

.tem-low-high {
  margin-top: 15px;
  margin-left: 23px;
  color: white;
  font-size: 1.7em;
}

.station-rain {
  height: 60px;
  margin-top: 10px; 
  margin-left: 5px;
}

.station-wind {
  margin-top: 30px;
  margin-left: 12px;
}

.station-wind-word {
  margin-top: 15px;
  margin-left: 3px;
  color: white;
  font-size: 1.7em;
}

.footer-word {
  font-weight: bold;
  font-size: 2.2em;
  color: white;
  float: right;
}

.yj-img {
  height: 120px;
  margin-top: 25px;
  margin-left: 15px;
  -webkit-animation:twinkling 1.5s infinite ease-in-out;
}

@-webkit-keyframes twinkling{    /*透明度由0到1*/
    0%{
       opacity:0; /*透明度为0*/
     }
    100%{
       opacity:1; /*透明度为1*/
    }
  }
